/* css comment */
p, h1, h2, a{
  color: black
}

body {
  font-family:cursive
}
ul li {
  color: black;
  font-style:italic
}
      
.exl {
  color:purple;
  font-weight:bolder
}
      
a:hover {color:blue}
      
#email {color:green}
