/* css comment */
p, h1, h2, a{
  color: black
}

body {
  font-family:cursive
}

h2 {
  background-color:green;
  width: 45%;
  padding: 5px;
  margin: 10px auto;
  text-shadow: 2px 2px white;
  border-radius: 12px;
  border: dashed 2.5px white
}

ul li {
  color: black;
  font-style:italic
}
      
.exl {
  color:purple;
  font-weight:bolder
}
      
a:hover {color:blue}
      
#email {color:green} 
