body {
  margin: 0px;
  font-family: cursive
}

h1 {
  width: 50%;
  text-align: center;
  margin:auto;
}
#menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenlt;
  position: sticky;
  top: 0px;
  background-color: white;
  border-radius: 10px;
  border: solid 1px black
}
.nav-div {
  text-align:center;
  flex-grow: 1;
  border-radius: 10px;
  position: relative;
  top:0px
}

.nav-div a {
  display: inline-block;
  width: 100%;
  padding: 10px 0px 10px;
  border-radius: 10px;
}

.nav-div ul {
  display: none;
  position: absolute;
  list-style-type:none;
  padding-left: 0;
  margin: 0px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}

.nav-div:hover {
  background-color: white;
  font-weight:bold;
}
#home:hover {
  background-color: white;
  font-weight:bold;
  border: solid 1px black;
}
#about:hover {
  background-color: white;
  font-weight:bold;
  border: solid 1px black;
}

.nav-div:hover a {
  text-decoration: underline
}
a {
  color:black;
  text-decoration: none;
  font-size:large
}
.nav-div:hover ul {
  display: block;
}
.nav-div ul a:hover {
  background-color: black;
  color: white;
  border: dotted 1px white;
  border-radius: 10px
}
#stuff {
  background-color: rgba(255, 80, 80, .8);
  margin: 10px 15%;
  padding: 5px 15px 5px;
  border-radius: 10px
}
#back {
  z-index: -10;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  
}
#pre {
  background-color: rgba(255, 80, 80, .8);
  color: white;
  border-radius: 10px
}
#footer {
  background-color: white;
  color: rgb(255, 80, 80);
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
#publish {
  text-align: right;
  margin: 5px 45px;
}
#addi {
  text-align: left;
  margin: 5px 45px;
}
.bar {
  height: 85px;
  width: 0px;
  padding: 0px;
  margin: 0px;
  border: solid 1px rgb(255, 80, 80)
}
h3 {
  text-align:center
}
#breakfast {
  width: 100%;
  border-radius: 10px
}
#lunch {
  width: 100%;
  border-radius: 10px;
}
#dinner {
  width: 100%;
  border-radius: 10px
}
#pic-1 {
  border: solid 3px black;
  text-align: center;
  width: 33vw;
  float:right;
  margin: 6px;
  padding: 6px;
  border-radius: 10px
}
#pic-2 {
  border: solid 3px black;
  text-align: center;
  width: 33vw;
  float:left;
  margin: 6px;
  padding: 6px;
  border-radius: 10px
}
#pic-3 {
  border: solid 3px black;
  text-align: center;
  width: 33vw;
  float:right;
  margin: 6px;
  padding: 6px;
  border-radius: 10px
}
.com {
  margin: 0px;
  padding:0px;
  
}
#home {
  width: 30px;
  heigth: 30pxl
}
