body {
  margin: 0px;
  font-size: 18px;
  font-family: pompiere, sans-serif;  
  background-color:#FFBEBA;
  color: black
}
h1, h2 {
  font-family: monoton, cursive, sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px red;
  font-weight: 400;
}
div.card {
  background-color:#FF3B30;
  margin-left: 75px;
  margin-right: 75px;
  padding: .05rem 1rem .05rem;
  border: solid 10px red;
  border-radius: 12px
}
hr {
  margin-left: 75px;
  margin-right: 75px;
  border-color: #FC30FF
}
a {
  color:red;
  text-decoration:none;
  font-style:italic;
  font-weight: 900;
  
}
a:hover {
  color: #FFBEBA;
  text-shadow: 2px 2px black
}
